body{
	background: white;
}
header{
	background: yellow;
}
.parrafo1{
	color: gray;
	background: yellow;
}
.parrafo2{
	color: gray;
	background: yellow;
}
.parrafo3{
	color: gray;
	background: yellow;
}

