body{
    background-color: white;
}

header{
    display: block;
    margin:auto;
    width: 100%;
    background: #6699FF;
}

.container{
    display: block;
    margin:auto;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.container2{
    display: block;
    margin:auto;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.container3{
    display: block;
    margin:auto;
    width: 600px;
}
.container3 h2{
    text-align: center
}
.jop_Reference{
    display: flex;
}

.logo div img{
    margin-top: 10px;
    height: 200px;
    width: 160px;
}

.logo{
    display: flex;
    justify-content: center;
}

.photo {
    padding-right: 50px;
    padding-top: 18px;
}

.box{
    display: flex;
    justify-content: space-between;

}
.box1{
    display: flex;
    justify-content: space-between;

}
.box2{
    display: flex;
    justify-content: space-between;

}
.box p{
    margin-top: -1px;
    margin-left: 40px;
}
.box2 p{
    margin-top: -1px;
    margin-left: 100px;
}
.box1 p{
    margin-top: -1px;
    margin-left: 55px;
}
hr{
    width: 100%;
}

@media (max-width: 640px){
    .container{
        display: block;
        margin:auto;
    }
    .container2{
        display: block;
        margin:auto;
    }
    .container3{
        display: block;
        margin:auto;
    }
    .box{
        margin-left: 80px;
        margin-right: 80px;
    }
    .box2{
        margin-left: 80px;
        margin-right: 80px;    }
    .box1{
        margin-left: 80px;
        margin-right: 80px;
    }
    h2{
        text-align: center;
        font-size: 30px;
    }
    header{
        background: #6699FF;
    }
    .personal_reference p{
        font-size: 25px;
    }
}
*{
    font-family: 'Roboto Condensed', sans-serif;
}


